.flex {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
  -webkit-flex-direction: column;
}

.flex-ac {
  align-items: center;
  -webkit-align-items: center;
}

.flex-nowrap {
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
}

.gap20 {
  gap: 20px;
}
