.max-w {
  width: 100%;
}

.max-h {
  height: 100%;
}

.maxwh {
  width: 100%;
  height: 100%;
}

.p20 {
  padding: 20px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.m020 {
  margin: 20px 0;
}

.ml-a {
  margin-left: auto;
}
