<h1 mat-dialog-title>Custom Device Creating</h1>
<div mat-dialog-content>
  <form [formGroup]="newDeviceForm" class="flex flex-col flex-nowrap gap20">
    <mat-form-field>
      <input
        formControlName="id"
        matInput
        placeholder="Device ID"
        type="text"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        formControlName="title"
        matInput
        placeholder="Device Title"
        type="text"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Device Type</mat-label>
      <mat-select formControlName="deviceType">
        <mat-option
          *ngFor="let type of deviceType | keyvalue"
          [value]="type.value"
        >
          {{ type.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Device Enabled</mat-label>
      <mat-select formControlName="enabled">
        <mat-option [value]="true">True</mat-option>
        <mat-option [value]="false">False</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input
        formControlName="houseId"
        matInput
        placeholder="Device House ID"
        type="text"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Device Last Activity</mat-label>
      <input
        [matDatepicker]="datepicker"
        [max]="maxDate"
        formControlName="lastActivity"
        matInput
      />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle
        [for]="datepicker"
        matIconSuffix
      ></mat-datepicker-toggle>
      <mat-datepicker #datepicker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button color="primary" mat-raised-button matDatepickerApply>
            Apply
          </button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Device Status</mat-label>
      <mat-select formControlName="status">
        <mat-option
          *ngFor="let type of deviceStatus | keyvalue"
          [value]="type.value"
        >
          {{ type.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input
        formControlName="locations"
        matInput
        placeholder="Device Locations"
        type="text"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        [max]="65535"
        formControlName="port"
        matInput
        placeholder="Settings Port"
        type="number"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        formControlName="name"
        matInput
        placeholder="Settings Name"
        type="text"
      />
    </mat-form-field>

    <mat-form-field>
      <input
        formControlName="password"
        matInput
        placeholder="Settings Password"
        type="text"
      />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button
    (click)="createNewDevice()"
    [disabled]="newDeviceForm.invalid"
    color="primary"
    mat-dialog-close
    mat-raised-button
  >
    Create
  </button>
  <button color="warn" mat-dialog-close mat-raised-button>Cancel</button>
</div>
