<div class="expansion">
  <shared-expansion-panel
    panelDescription="Enter the device name or something else.."
    panelTitle="Table filtering"
  >
    <devices-filter (filterDataEvent)="filterData($event)"></devices-filter>
  </shared-expansion-panel>
</div>
<div class="device-table-buttons flex gap20 m020">
  <div class="add-custom-device-button">
    <device-add-custom></device-add-custom>
  </div>
  <div class="add-random-device-button">
    <device-add-random></device-add-random>
  </div>
  <div class="remove-device-button ml-a">
    <device-remove-button></device-remove-button>
  </div>
</div>
<div class="devices-table mat-elevation-z5">
  <table [dataSource]="tableSource" mat-table matSort>
    <ng-container matColumnDef="id">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Device ID</th>
      <td *matCellDef="let device" mat-cell>{{ device.id }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Device Title</th>
      <td *matCellDef="let device" mat-cell>{{ device.title }}</td>
    </ng-container>

    <ng-container matColumnDef="deviceType">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Device Type</th>
      <td *matCellDef="let device" mat-cell>{{ device.deviceType }}</td>
    </ng-container>

    <ng-container matColumnDef="enabled">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Device Enabled</th>
      <td *matCellDef="let device" mat-cell>{{ device.enabled }}</td>
    </ng-container>

    <ng-container matColumnDef="houseId">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Device House Id</th>
      <td *matCellDef="let device" mat-cell>{{ device.houseId }}</td>
    </ng-container>

    <ng-container matColumnDef="lastActivity">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        Device Last Activity
      </th>
      <td *matCellDef="let device" mat-cell>
        {{ device.lastActivity | date }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Device Status</th>
      <td *matCellDef="let device" mat-cell>{{ device.status }}</td>
    </ng-container>

    <ng-container matColumnDef="locations">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        Device Locations
      </th>
      <td *matCellDef="let device" mat-cell>{{ device.locations }}</td>
    </ng-container>

    <ng-container matColumnDef="port">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Settings Port</th>
      <td *matCellDef="let device" mat-cell>{{ device.settings.port }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Settings Name</th>
      <td *matCellDef="let device" mat-cell>{{ device.settings.name }}</td>
    </ng-container>

    <ng-container matColumnDef="password">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>
        Settings Password
      </th>
      <td *matCellDef="let device" mat-cell>{{ device.settings.password }}</td>
    </ng-container>

    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 50]"
    showFirstLastButtons
  ></mat-paginator>
</div>
