<h1 mat-dialog-title>
  Device<span *ngIf="data.devices.length > 1">s</span> Removing
</h1>
<div class="flex flex-col gap20" mat-dialog-content>
  <p>
    Are you sure you want delete devices ({{ data.devices.length }}) with id:
  </p>
  <ng-container *ngFor="let device of data.devices">
    {{ device.id }} <br/>
  </ng-container>
</div>
<div mat-dialog-actions>
  <button (click)="removeDevices()" color="warn" mat-dialog-close mat-raised-button>Delete</button>
  <button mat-dialog-close mat-raised-button>Cancel</button>
</div>
